@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="process-flow"></div>

<input type="hidden" name="previousStepId" id="previousStepId" />
<input type="hidden" name="currentLevelId" id="currentLevelId" />